<html lang="ja">
	{% load static %}
	<head>
		<title>Polaris</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="{% static 'css/tailwindcss.css' %}" />
		<link rel="stylesheet" href="{% static 'css/daisyui.css' %}" />
		<link rel="icon" href="{% static 'image/favicon.ico' %}" />
	</head>
	<body>
		<div class="h-screen w-screen">
			{% if metadata %}
			<div class="hidden md:flex h-full w-full">
				<div class="w-1/2 h-full">
					<div class="flex items-center justify-center h-full">
						<div class="w-5/6" style="width: 80%">
							<div class="text-left mb-2">{{ metadata.projectCode }}</div>
							<div class="text-left text-3xl">{{ metadata.projectName }}</div>
							<div class="w-full divider"></div>
							<div class="">{{ metadata.aud }}</div>
						</div>
					</div>
				</div>
				<div class="w-1/2 bg-primary flex flex-col items-center justify-center" style="background-color: #00517c">
					<div class="h-1/4">
						<div class="text-right items-end">
							<img src="{% static 'image/logo_black.png' %}" style="height: 24rem" />
						</div>
					</div>
					<div class="h-1/4 p-1 mb-8">
						<a class="btn btn-lg w-72" href="/admin">
							<div>Controller Node</div>
							<div>として参加</div>
						</a>
					</div>
					<div class="h-1/4 p-1 my-6 flex items-center justify-center flex-col">
						<div class="w-full border p-2 bg-white shadow rounded-lg">
							{% for cl in metadata.col %}
							<div class="form-control">
								<label class="label cursor-pointer">
									<span class="label-text">{{ cl }}</span>
									<input type="checkbox" class="checkbox setup_pc_col" />
								</label>
							</div>
							{% endfor %}
						</div>
						<button onclick="setup_pc()" class="btn btn-lg w-72 mt-6" style="text-align: center">
							<div>Worker Node</div>
							<div>として参加</div>
						</button>
					</div>
				</div>
			</div>
			<div class="block md:hidden h-full w-full">
				<div class="">
					<div class="flex items-center justify-center" style="background-color: #00517c">
						<img src="{% static 'image/logo_black.png' %}" style="scale: 50%" />
					</div>
					<div class="p-12">
						<div class="text-left mb-2">{{ metadata.projectCode }}</div>
						<div class="text-left text-3xl">{{ metadata.projectName }}</div>
						<div class="divider w-full"></div>
						<div class="">{{ metadata.aud }}</div>
					</div>
				</div>
				<div class="h-1/2 flex items-center justify-center">
					<div class="is-size-4">モバイル端末では利用できません</div>
				</div>
			</div>
			{% else %}
			<div class="flex items-center justify-center h-screen">
				<div>
					<div class="text-3xl text-relative">PLProto Data Load Eroor</div>
					<div class="my-4 divider"></div>
					<div class="my-2">src/dataディレクトリ下に適切にjsonファイルが置かれているかどうかを確認してください</div>
					<div class="my-2">レイヤーデータの「aud」「projectCode」「bodyの列数」がメタデータと一致していることを確認してください</div>
					<div class="my-2">jsonファイルがPLProtoに準拠していることを確認してください</div>
				</div>
			</div>
			{% endif %}
		</div>
		<script>
			function setup_pc() {
				let param = [];
				let cols = document.getElementsByClassName('setup_pc_col');
				for (var i = 0; i < cols.length; i++) {
					if (cols[i].checked) {
						param.push(i);
					}
				}
				let paramstring = '';
				for (var i = 0; i < param.length; i++) {
					if (i == 0) {
						paramstring += '?req[]=' + param[i];
					} else {
						paramstring += '&req[]=' + param[i];
					}
				}
				window.location.href = paramstring;
			}
		</script>
	</body>
</html>
