<section>
    <div class="columns m-1">
        <div class="column">
            <div class="m-1">
                <p class="button is-light is-fullwidth is-info" id="link"><b>LINK</b></p>
                <p class="button is-light is-fullwidth is-danger" id="alone"><b>ALONE</b></p>
            </div>
        </div>
        <div class="column">
            <div class="m-1">
                <p class="button is-light is-fullwidth is-info" id="absolute"><b>ABSOLUTE</b></p>
                <p class="button is-light is-fullwidth is-danger" id="relative"><b>RELATIVE</b></p>
            </div>
        </div>
        <div class="column">
            <div class="m-1">
                <p class="button is-light is-fullwidth is-info" id="standby"><b>STANDBY</b></p>
                <p class="button is-light is-fullwidth is-succsed" id="prepare"><b>PREPARE</b></p>
                <p class="button is-light is-fullwidth is-danger" id="pal-active"><b>PAL</b></p>
            </div>
        </div>
    </div>
    <div class="m-1">
        <div class="box">
            <div><p id="clock-content"></p></div>
        </div>
    </div>
</section>
